<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator - App Ngon ngu</title>
    <link rel="stylesheet" type="text/css" href="./layout.css" />
    <script src="./jquery.js"></script>
    
  
   
    <script>
        $(document).ready(function(){

   alert(1);
  
});
  </script>
 
</head>
<body>
    <div id="wrapper">
        <div id="left">
            <img id="logo" src="./image/logo.jpg" alt="">
            <div id="menu">
                <a href="./word">Word</a>
                
                
            </div>
        </div>
        <div id="content">
            Content
            <%- include(content) %>
        </div>
    </div>
</body>
</html>